name: DB Pipeline
on:
  push:
    branches: [ "main" ]
    paths: [ "supabase/migrations/**" ]
  workflow_dispatch:      # <--- ADD THIS LINE
    inputs:               # (Optional) Add inputs if you want options
      force_deploy:
        description: 'Force deploy without running tests?'
        type: boolean
        required: false
        default: false

jobs:
  deploy-db:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with: { version: latest }
      - run: supabase db push
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
          SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
